openapi: 3.0.3
info:
  title: sanctions.io Account Management Data Sources API
  description: The sanctions.io API provides sanctions, PEP (politically exposed persons), and criminal watchlist screening for AML compliance. It covers the Screening API (v2.3) - real-time single search, batch screening of up to 10,000 records per request, adverse media search, data source listing, and full database export - and the Monitoring API (v3.1) for continuous monitoring with alerts, plus account management (tokens, company and webhook configuration, users, plans, usage). All requests require a Bearer API token in the Authorization header; the API version is selected with the Accept header, for example "application/json; version=2.3" (the adverse media endpoint requires version=3.0). Sign up for a self-serve 7-day free trial at https://api.sanctions.io/users/signup to obtain a key.
  version: '2.3'
  contact:
    name: sanctions.io
    url: https://www.sanctions.io
    email: info@sanctions.io
  termsOfService: https://www.sanctions.io/terms-of-service
servers:
- url: https://api.sanctions.io
  description: Production
security:
- bearerAuth: []
tags:
- name: Data Sources
  description: Sanctions and watchlist sources available for screening, and database export.
paths:
  /sources/:
    get:
      operationId: listDataSources
      tags:
      - Data Sources
      summary: List data sources
      description: Returns a paginated list of all sanctions and watchlist sources available for screening. Use each result's short_name as the short code in the data_source screening parameter (multiple values comma-separated). Some sources include a notes field with usage guidance.
      parameters:
      - $ref: '#/components/parameters/acceptVersion'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Paginated list of data sources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 49
                  next:
                    type: string
                    nullable: true
                    example: https://api.sanctions.io/sources/?page=2
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataSource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /exporter/:
    get:
      operationId: exportSanctionsDatabase
      tags:
      - Data Sources
      summary: Export the sanctions database
      description: Returns a full export of the sanctions and crime database as a CSV file. A specific plan subscription is required to access this endpoint.
      parameters:
      - $ref: '#/components/parameters/acceptVersion'
      responses:
        '200':
          description: CSV export of the sanctions and crime database.
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  parameters:
    acceptVersion:
      name: Accept
      in: header
      required: false
      description: Selects the API version, e.g. "application/json; version=2.3". Without the header, version 1.0 is used by default.
      schema:
        type: string
        example: application/json; version=2.3
    page:
      name: page
      in: query
      required: false
      description: Page number for paginated results.
      schema:
        type: integer
        example: 1
  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
    DataSource:
      type: object
      properties:
        short_name:
          type: string
          description: Short code used in the data_source screening parameter.
          example: HM TREASURY
        name:
          type: string
          example: UK Sanctions List (HM Treasury)
        notes:
          type: string
          description: Optional usage guidance, such as recommending a source be combined with another.
  responses:
    Unauthorized:
      description: Authentication credentials were not provided or are invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            detail: Authentication credentials were not provided.
    TooManyRequests:
      description: Too many requests or the plan does not permit this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API token from the sanctions.io user portal, passed as "Authorization: Bearer {token}". The token may also be sent as a URL parameter, but the Authorization header is recommended.'
